NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
SUPABASE_SERVICE_ROLE_KEY=replace-with-local-service-role-key
SUPABASE_PROJECT_REF=replace-with-supabase-project-ref
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=replace-with-google-client-id
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=replace-with-google-client-secret
